{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Currency converter</title>
    <!-- add icon link -->
        <link rel = "icon" href = "{% static "currency_app/dolar_icon.svg" %}"
        type = "image/x-icon">

    <link rel="stylesheet" type="text/css" href="{% static "currency_app/style.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="{% static "currency_app/script.js" %}"></script>

</head>

<body>
        <h1 class="header">Currency calculator</h1>
        <div style="text-align: center">
            <p>Last data update: {{effective_date}}</p>

        </div>
<div style="margin-bottom: 130px;"></div>

<div class="input-container" style="float:left; margin-left: calc(100%/4.1); width: 400px; height: 300px; ">
             <div class="center" style="width: 200px; height: 60px; margin-left: 50px;margin-bottom: 10px; margin-top: 0px; margin-right: 10px;">

    <select class="form-select" id="first_select" aria-label="Default select example",  style="width:auto;margin-right: 10px; " oninput="update_sell({{sell_list}})">
   {% for code,number in zip_object %}
            <option value="{{ number }}">{{ code }}</option>
        {% endfor %}
</select>

    <svg xmlns="http://www.w3.org/2000/svg" fill="none"  width="30" height="30" viewBox="0 0 17 17" aria-hidden="true" class="miscellany___StyledIconSwap-sc-1r08bla-1 fZJuOo"><path fill="currentColor" fill-rule="evenodd" d="M11.726 1.273l2.387 2.394H.667V5h13.446l-2.386 2.393.94.94 4-4-4-4-.94.94zM.666 12.333l4 4 .94-.94L3.22 13h13.447v-1.333H3.22l2.386-2.394-.94-.94-4 4z" clip-rule="evenodd"></path></svg>

    <p1 style="font-size: 25px; margin-left: 10px;">PLN</p1>
             </div>


           <span id="label_one" style="margin-left: calc(100%/4.3); margin-right: 5px">USD</span>
            <img  id = "left_other_flag" height="40px" width="60px" data-original="{% static "currency_app/flags/" %}" src="{%static  "currency_app/flags/USD.svg"%}">




  <div class="input-group">
                <label>
  <input type="number" value="0" placeholder="Enter value" class="form-control" style="width: auto; margin-top: 10px; margin-bottom: 20px;" id="other_l" oninput="other_pln_l({{sell_list}}, value)" min="0" >
  </label></div>

                   <span style="margin-left: calc(100%/4.3); margin-right: 5px">PLN</span>
                    <img alt=""  height="40px" width="60px"  src="{%static  "currency_app/flags/PLN.svg"%}">



  <div class="input-group">
            <label>
  <input type="number"  class="form-control" value="0" placeholder="Enter value" style="width: auto; margin-bottom: 10px; margin-top: 10px;" id="pln_l" min="0" oninput="pln_other_l({{sell_list}}, value)">
  </label></div>
    <span id ='first_label' style="font-size: 18px;margin-left: 60px; " > 1 USD = <b>{{sell_list.0}} PLN</b>  </span><br>

</div>




<!---->


<div class="input-container" style="  float:left; margin-left: calc(100%/8); width: 400px; height: 300px; ">
             <div class="center" style="width: 240px; height: 60px; margin-left: 50px; margin-bottom: 10px; margin-top: 0px; margin-right: 10px;">

       <p1 style="font-size: 25px; margin-right: 10px;">PLN</p1>

   <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 10px;" fill="none"  width="30" height="30" viewBox="0 0 17 17" aria-hidden="true" class="miscellany___StyledIconSwap-sc-1r08bla-1 fZJuOo"><path fill="currentColor" fill-rule="evenodd" d="M11.726 1.273l2.387 2.394H.667V5h13.446l-2.386 2.393.94.94 4-4-4-4-.94.94zM.666 12.333l4 4 .94-.94L3.22 13h13.447v-1.333H3.22l2.386-2.394-.94-.94-4 4z" clip-rule="evenodd"></path></svg>

    <select class="form-select" id="second_select" aria-label="Default select example" style="width:auto;margin-right: 10px; " oninput="update_buy({{buy_list}})">
   {% for code,number in zip_object2 %}
            <option  value="{{ number }}">{{ code }} <img src="https://cdn-icons-png.flaticon.com/512/197/197571.png" height="20px" width="20px"></option>
        {% endfor %}
</select>
             </div>

                   <span style="margin-left: calc(100%/4.5); margin-right: 5px">PLN</span>
                <img alt="" height="40px" width="60px"  src="{%static  "currency_app/flags/PLN.svg"%}">



  <div class="input-group">
                <label>
  <input type="number" value="0" placeholder="Enter value" class="form-control" style="width: auto; margin-top: 10px; margin-bottom: 20px;" id="pln_r", oninput="pln_other_r({{buy_list}}, value)" min="0" >
  </label></div>

           <span id="label_two" style="margin-left: calc(100%/4.5); margin-right: 5px">USD</span>
            <img alt="" id = "right_other_flag" height="40px" width="60px" data-original="{% static "currency_app/flags/" %}" src="{%static  "currency_app/flags/USD.svg"%}">


  <div class="input-group">
            <label>
  <input type="number"  class="form-control" value="0" placeholder="Enter value" style="width: auto; margin-bottom: 10px; margin-top: 10px;" id="other_r" min="0" oninput="other_pln_r({{buy_list}}, value)">
  </label></div>
    <span id="second_label" style="font-size: 18px; margin-left: 60px;" >1 PLN = <b> {{pln_to_usd}} USD </b></span>

</div>
</body>
</html>

